{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
<img src="{% static "images/logo.png" %}" class="img-responsive" style="max-width: 60px ;margin-left: 10px;margin-right: 10px;">
  <a class="navbar-brand" href="{% url 'homeurl'%}"><h3>CSE Department</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li id ="idforlist" class="nav-item">
        <a class="nav-link" href="{% url 'homeurl'%}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li id ="idforlist" class="nav-item">
        <a class="nav-link" href="{% url 'facultyurl'%}">Faculty</a>
      </li>
      <li id ="idforlist" class="nav-item">
        <a class="nav-link" href="{% url 'researchurl'%}">Research<span class="sr-only">(current)</span></a>
      </li>
      <li id ="idforlist" class="nav-item">
        <a class="nav-link" href="{% url 'placementurl'%}">Placements<span class="sr-only">(current)</span></a>
      </li>
      <li id ="idforlist" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Courses
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'coursesurl'%}">Btech</a>
          <a class="dropdown-item" href="{% url 'coursesurl'%}">Mtech</a>
          <a class="dropdown-item" href="{% url 'coursesurl'%}">MCA</a>

        </div>
      </li>
      <li class="nav-item" id ="idforlist">
        <a class="nav-link" href="{% url 'admin:index'%}">Admin</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
