{% extends 'nitkapp/dashboard.html'%}
{% block content %}

{% for i in infoplace %}
<h4 style="text-align:center ; margin-top:40px">Placement Stats for {{ i.year}}</h4>
<hr>
<div class="row" style="margin:auto;">

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Btech</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{i.btech}}%</h3>

					</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Mtech</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{i.mtech}}%</h3>

			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">MCA</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ i.mca}}%</h3>


			  	</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}

<table class="table" >

<thead id ="headingwa">
	<th>Btech</th>
	<th>Mtech</th>

</thead>>

<tr>
	<td >
		<div id="piechart1" style="display: inline-block;"> </div>
</td>
	<td style="margin:auto;">		<div id="piechart2"  style="display: inline-block;"> </div>

</td>

</tr>

</table>

{% include 'nitkapp/graphs.html'%}

{% endblock %}
